<!DOCTYPE html>
<html>
<head>
<title>Team and Heroes!</title>
</head>

<body>
  <h1>Create a Team and Heroes!</h1>

  <form method="POST" action="/teams">
    <label for="team_name">Team Name:</label>
    <input type="text" id="team_name" name="team[name]"></br>
    <label for="team_motto">Team Motto:</label>
    <input type="text" id="team_motto" name="team[motto]"></br>

    <h2>Hero 1</h2>
    <label for="hero_name_1">Hero's Name:</label>
    <input type="text" id="member1_name" name="team[heroes][][name]"></br>
    <label for="hero_power_1">Hero's Power:</label>
    <input type="text" id="member1_power" name="team[heroes][][power]"></br>
    <label for="hero_bio_1">Hero's Biography:</label>
    <input type="text" id="member1_bio" name="team[heroes][][bio]"></br>

    <h2>Hero 2</h2>
    <label for="hero_name_1">Hero's Name:</label>
    <input type="text" id="member2_name" name="team[heroes][][name]"></br>
    <label for="hero_power_1">Hero's Power:</label>
    <input type="text" id="member2_power" name="team[heroes][][power]"></br>
    <label for="hero_bio_1">Hero's Biography:</label>
    <input type="text" id="member2_bio" name="team[heroes][][bio]"></br>


    <h2>Hero 3</h2>
    <label for="hero_name_1">Hero's Name:</label>
    <input type="text" id="member3_name" name="team[heroes][][name]"></br>
    <label for="hero_power_1">Hero's Power:</label>
    <input type="text" id="member3_power" name="team[heroes][][power]"></br>
    <label for="hero_bio_1">Hero's Biography:</label>
    <input type="text" id="member3_bio" name="team[heroes][][bio]"></br>


    <input type="submit" id="submit">
  </form>

</body>
</html>
