<!DOCTYPE html>
<html>
<head>
<title>Team and Heroes!</title>
</head>

<body>
  <h1>Create a Team and Heroes!</h1>
  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team[name]">

  <h2>Hero 1</h2>
  <label for="hero_name_1">Hero's Name:</label>
  <input type="text" id="hero_name_1" name="team[heroes][][name]">



</body>
</html>
