<!DOCTYPE html>
<html>
<head>
<title>Team and Heroes!</title>
</head>

<body>
  <h1>Create a Team and Heroes!</h1>
  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team[name]">

</body>
</html>
